*{

    box-sizing: border-boX; width:auto ;height:auto;
    margin: top;
    padding: 0;
}   

body{
    background: url();
    
   
}
.navBar {
    background: linear-gradient(
      90deg,
      rgba(72, 186, 183, 1) 0%,
      rgba(23, 227, 228, 1) 16%,
      rgba(23, 168, 228, 1) 79%,
      rgba(3, 26, 224, 1) 100%
    );
  }
.header{
   justify-content: center;
}
form{
    box-shadow: 0px 6px 50px gray;
    border:none ;
    padding-top: 8px;
    padding-bottom: 8px;
    height: fit-content;
    border-radius: 10px;

}
.footerbackground {
    background: linear-gradient(
      90deg,
      rgba(72, 186, 183, 1) 0%,
      rgba(23, 227, 228, 1) 16%,
      rgba(23, 168, 228, 1) 79%,
      rgba(3, 26, 224, 1) 100%
    );
    max-width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    height: 200px;
    padding-top: 25px;
    margin-top: 10px;
    

    
  }
  
.btn {
  
 height: 40px;
 width: 200px;
 margin-top:  2rem;
}
